<div class="col-md-4 portfolio-item">
    <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </a>
    <h3>
        <a href="#">Salon - <%= room.prize.name %></a>
        <span class="pull-right"><small> Tokens : <span class="label label-info"><%= room.share_price %></span></small></span>
    </h3>                
    <p><%= room.prize.description %></p>
</div>