<h1>
	<span>Liste des salons</span>
	<% if can? :create, @room %>
		<%= link_to 'Ajouter', new_room_path, class: "btn btn-success" %>
	<% end %>
</h1>

<form class="form-inline" method="get" action="">

	<div class="md-form form-group">
		<input id="searchBefore" type="date" name="searchBefore" class="form-control" />
		<label for="searchBefore" class="active">Avant le</label>
	</div>

	<div class="md-form form-group">
		<input id="searchAfter" type="date" name="searchAfter" class="form-control" />
		<label for="searchAfter" class="active">Après le</label>
	</div>

	<div class="md-form form-group">
		<input id="searchPrice" type="text" name="searchPrice" class="form-control" />
		<label for="searchPrice" class="active">Prix max</label>
	</div>

	<div class="md-form form-group">
		<input id="searchParticipation" type="text" name="searchParticipation" class="form-control" />
		<label for="searchParticipation" class="active">Participation max</label>
	</div>

	<div class="md-form form-group pull">
		<input type="submit" class="btn btn-primary btn-lg" value="Rechercher" />
	</div>

</form>
	
<% if @rooms.any? %>
	<%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>

	<% @rooms.each do |room| %>
		<%= render partial: "/shared/room_container", locals: { room: room } %>
	<% end %>
<% else %>
	<p>Il n'y a pas encore de salon</p>
<% end %>