<h1>Liste des rooms</h1>
	
<% if @rooms.any? %>
	<%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>

	<% @rooms.each do |room| %>
		<%= render partial: "/shared/room_container", locals: { room: room } %>
	<% end %>
	
<% else %>
	<p>Il n'y a pas encore de salon</p>
<% end %>

<% if user_signed_in? %>
	<p><%= link_to 'Ajouter un salon', new_room_path, class: "btn btn-success" %></p>
<% end %>